__pycache__/
*.pyc
logs/
archive*/
admins.json
.venv/
assets/fonts/digistrip*.ttf
run-local.ps1
hidden-launch.vbs
setup-local.ps1
phone/
.env
assets/models/
restart.flag
admins.json.dirty
restart.flag
